# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
Calc Switch Case/nbproject/project.xml
Calc Switch Case/nbproject/project.properties
Calc Switch Case/nbproject/private/private.xml
Calc Switch Case/nbproject/private/private.properties
Calc Switch Case/nbproject/genfiles.properties
Calc Switch Case/nbproject/build-impl.xml
Calc Switch Case/manifest.mf
Calc Switch Case/build.xml
